.home{
    /* background-color: aqua; */
    position: relative;
    /* width: 100%; */
    height: 100vh;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 70px 10% 0;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.aboutMe{
    position: relative;
    /* width: 100%; */
    height: 100vh;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 70px 10% 0;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.work{
    position: relative;
    /* width: 100%; */
    height: auto;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 70px 10% 0;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.skills{
    position: relative;
    /* width: 100%; */
    min-height: 100vh;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 70px 10% 0;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.footer{
    position: relative;
    /* width: 100%; */
    /* height: 100vh; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 0 10% 0;
}

.section_work{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
    }

    img:hover {
    /* Mostrar la imagen a color */
    filter: grayscale(0%);
    }

    .skills-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    
    .skills-box{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        align-items: center;
        gap: 2.5rem;
    }

    .porfolio-container{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        align-items: center;
        gap: 2.5rem;
    
    }

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

.cards_item{
    border: 1px solid rgb(59, 59, 59);
    padding: 1.5rem;
    max-width: 300px;
    margin: 0.5rem;
}
